<mat-toolbar color="primary">
	<div fxHide.gt-xs>
		<button mat-icon-button (click)="onToggleSidenav()">
			<mat-icon>menu</mat-icon>
		</button>
	</div>
	<div fxFlex fxLayout fxLayoutAlign="flex-start">
		<a fxLayout routerLink="/">
			<img src="../.././favicon.ico" width="40px" height="40px" alt="logo"
		/></a>
	</div>

	<div fxFlex fxLayout fxLayoutAlign="flex-end">
		<mat-slide-toggle
      [checked] = "isDarkTheme"
			class="toggle-theme"
			fxLayout
			[(ngModel)]="isDarkTheme"
			labelPosition="before"
			(change)="storeThemeSelection()"
		>
			<mat-icon *ngIf="isDarkTheme">bedtime</mat-icon>
      <mat-icon *ngIf="!isDarkTheme">wb_sunny</mat-icon>
		</mat-slide-toggle>
		<ul fxLayout class="navigation-items" fxHide.xs>
			<li *ngIf="!(isAuth$ | async)"><a routerLink="/signup">Signup</a></li>
			<li *ngIf="!(isAuth$ | async)"><a routerLink="/login">Login</a></li>
			<li *ngIf="isAuth$ | async"><a routerLink="/training">Training</a></li>
			<li *ngIf="isAuth$ | async">
				<a class="logout" (click)="onLogout()">Logout</a>
			</li>
		</ul>
	</div>
</mat-toolbar>
