mat-sidenav-container,
mat-sidenav,
mat-sidenav {
	height: 100%;
}

mat-sidenav {
	width: 25%;
}

a {
	text-decoration: none;
	color: #fff;
}

a:hover,
a:active {
	color: lightgray;
}

.navigation-items {
  list-style: none;
	gap: 10px;
}

